<!doctype html>

  <footer class = "p-3 bg-opacity-25 bg-warning">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      
   
          <p class="text px-2 text-dark text-opacity-50 text-center "> <i class="fa fa-birthday-cake" aria-hidden="true"> temiyage.corporation</p></i>

  </footer>
