.information_title{
  color: #555555;
  text-align: center;
  font-size: 15px;
  border: dashed 2px #FFC7AF;
  margin-bottom: 30px;
  height: 100px;
  padding-top: 25px;
}

.information_box{
  display: flex;
  margin: 50px 20px 50px;
  overflow: scroll;
  border: #D2B48C dotted 1px;
  padding: 10px 0;
}

.hoge{
  width: 100%;
  height:100%;
}

.slider{
  margin-bottom:  20px;
}

.fa-arrow-circle-o-left {
  color: #D2B48C ;
  position: absolute;
  z-index: 100;
  left: -10px;
  top: 170px
}

.fa-arrow-circle-o-right {
  color: #D2B48C ;
 position: absolute;
  z-index: 100;
  right: -10px;
  top: 170px
}

.fa-arrow-circle-left {
  color: #D2B48C ;
  position: absolute;
  z-index: 100;
  left: -80px;
  top: 250px
}

.fa-arrow-circle-right {
  color: #D2B48C ;
 position: absolute;
  z-index: 100;
  right: -80px;
  top: 250px
}