.information_title{
  color: #555555;
  text-align: center;
  font-size: 15px;
  border: dashed 2px #FFC7AF;
  margin-bottom: 30px;
  height: 100px;
  padding-top: 25px;
}

.information_box{
  display: flex;
  margin-bottom: 50px;
}

.sweet_image{
  opacity: 40%;
}